@font-face {
  font-family: 'OpenSans-Bold';
  src:  url('../src/assets/fonts/OpenSans-Bold.ttf') format('ttf'),
        url('../src/assets/fonts/OpenSans-Bold.eot') format('eot'),
        url('../src/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../src/assets/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold_italic';
  src:  url('../src/assets/fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
        url('../src/assets/fonts/opensans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold';
  src:  url('../src/assets/fonts/opensans-extrabold-webfont.ttf') format('ttf'),
        url('../src/assets/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
        url('../src/assets/fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold_italic';
  src:  url('../src/assets/fonts/OpenSans-ExtraBoldItalic.ttf') format('ttf'),
        url('../src/assets/fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
        url('../src/assets/fonts/opensans-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src:  url('../src/assets/fonts/OpenSans-Italic.ttf') format('ttf'),
        url('../src/assets/fonts/opensans-italic-webfont.woff2') format('woff2'),
        url('../src/assets/fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src:  url('../src/assets/fonts/OpenSans-Light.ttf') format('ttf'),
        url('../src/assets/fonts/opensans-light-webfont.woff2') format('woff2'),
        url('../src/assets/fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight_italic';
  src:  url('../src/assets/fonts/opensans-lightitalic-webfont.ttf') format('ttf'),
        url('../src/assets/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
        url('../src/assets/fonts/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
}
@font-face {
  font-family: 'open_sansregular';
  src:  url('../src/assets/fonts/OpenSans-Regular.ttf') format('ttf'),
        url('../src/assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../src/assets/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src:  url('../src/assets/fonts/OpenSans-Regular.ttf') format('ttf'),
        url('../src/assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('../src/assets/fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
}
@font-face {
  font-family: 'open_sanssemibold_italic';
  src:  url('../src/assets/fonts/OpenSans-SemiBold.ttf') format('ttf'),
        url('../src/assets/fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
        url('../src/assets/fonts/opensans-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}